/* Style the sidebar - fixed full height */
.sidebar {
    margin-top: 0px;
    height: 100%;
    width: 300px;
    position: fixed;
    /* z-index: 1; */
    background-color: 	#C0C0C0; 
    overflow-x: hidden;
    padding-top: 16px;
    
  }

  /* this is for DP circle for recomended circle */

.dot {
        height: 17px;
        width: 17px;
        background-color: rgb(233, 133, 228);
        border-radius: 50%;
        display: inline-block;
    }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


  /* this is for reccomend room join button */
  .joinb{
      float: right;
      margin-right: 20px;
      background-color: rgb(24, 59, 173);
      color: white;
  }